div#gcontext_c {
    min-height: 350px;
}
div#main {
    font-size: 90%;
}
h2 {
    margin: 10px 0 10px 0;
    color: #324cae;
    font-weight: bold;
    font-size: 120%;
}
hr {
    margin: 0;
}

table {
    font-size: 90%;
}

